div {
    /* To see the borders in draft */
    border-style:solid; 
    border-width:1px;
    border-color:pink;
}
div.list {
    float:left;
}
div.plot {
    float:none;
}

#tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

circle {
    fill: blue;
    //stroke: blue;
    stroke-width: 1;
}

circle.marked {
    fill: violet;
}

circle.saved {
    fill: green;
}

circle.hover {
    fill: red;
}



rect {
    fill: transparent;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: lightgray;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #666;
}

span.genname {
    font-size:16px;
    font-family: sans-serif;
    fill: #666;
}


span.value {
    border-bottom:1px solid #888;
    font-size:16px;
    padding-right:5px;
    font-family:'TradeGothicNextW01-BdCm',sans-serif;
    display: block;
}
span.key {
    font-weight:normal;
    font-size:12px;
    display: block;
}

#infowindow {
    position:absolute;
    top:1px;
    right:0;
    padding:15px 20px;
    width:30%;
    border-radius: 8px;
    background:lightsteelblue;
    opacity: 0.9;
    color:#616143;
    height:418px;
    z-index:1;
    text-shadow:0 -1px 1px rgba(255,255,255,0.6);
    box-shadow:1px 0 0 rgba(0,0,0,0.05) inset;
} 

/*

.plot {
   cursor:move;
}




#tooltip.leftPos {
    left:60px;
}

#stats span {
    display:block;
}

*/